<div class="randomBeerContainer">
    <p class='getMeABeer'>Refresh To Get A Random Beer</p>
    <beer-img-dir></beer-img-dir>
    <br>
    <div class='beerTitle'>
        <span class='boldMe'>Beer Name:</span>
        {{beer.title}}
    </div>
    <div ng-if="beer.brewery.key">
        <span class='boldMe'>Brewery Name:</span>
        {{beer.brewery.title}}
    </div>
    <div ng-if='beer.country.title'>
        <span class='boldMe'>Ctry of Origin:</span>
        {{beer.country.title}}
    </div>
    <div ng-if='beer.abv'>
        <span class='boldMe'>ABV:</span>
        {{beer.abv}}
    </div>
</div>
